@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    /* line-height: 1.8; */
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  background-color: v.$negro;
  color: v.$blanco;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
  flex: 1;
}

.contenedor {
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
    position: relative;
}

.section {
    width: 98%;
    margin: 2rem auto;
}

.txt-green, .icon-frontend  {
    color: v.$verde;
}
.txt-blue, .icon-backend {
    color: v.$azul;
}

.icon-skills {
    font-size: 4rem;
}
@include m.desktop {
    .icon-skills {
        font-size: 5rem;
    }
}

.container-experience {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4rem;
    justify-content: center;
}

.container-projects {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-blogs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@include m.desktop {
  .container-blogs {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas: 
      "card-blog_0 card-blog_1"
      "card-blog_0 card-blog_2";
  }
  
  .card-blog_0, .skeleton-card-blog_0 {
    grid-area: card-blog_0;
  }
  .card-blog_1, .skeleton-card-blog_1 {
    grid-area: card-blog_1;
  }
  .card-blog_2, .skeleton-card-blog_2 {
    grid-area: card-blog_2;
  }
}


@keyframes glow {
  0% {
    box-shadow: 0 6px 20px v.$azul
  }
  20% {
    box-shadow: 0 6px 20px v.$verde;
  }
  40% {
    box-shadow: 0 6px 20px v.$blanco;
  }
  60% {
    box-shadow: 0 6px 20px v.$fusia;
  }
  80% {
    box-shadow: 0 6px 20px v.$verde;
  }
  100% {
    box-shadow: 0 6px 20px v.$azul;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.icon-skills:hover {
    transform: scale(1.2);
    animation: bounce 0.6s;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: v.$fuente_header;
    margin: calc(v.$separacion / 2) 0;
    font-weight: v.$bold;
    text-align: center;
    font-style: italic;
}

/*  moviles */
h1 { font-size: 3.2rem; }   // 32px
h2 { font-size: 2.8rem; } // 28px
h3 { font-size: 2.4rem; } // 24px
h4 { font-size: 2rem; } // 20px
h5 { font-size: 1.6rem; }   // 16px
h6 { font-size: 1.4rem; } // 14px
p  { font-size: 1.5rem; } // 15px
a  { font-size: 1.7rem; } // 15px

/* tablet */

@include m.tablet {
    h1 { font-size: 4rem; } // 40px
    h2 { font-size: 3.2rem; }   // 32px
    h3 { font-size: 2.8rem; } // 28px
    h4 { font-size: 2.4rem; } // 24px
    h5 { font-size: 2rem; } // 20px
    h6 { font-size: 1.6rem; }   // 16px
    p  { font-size: 1.6rem; }   // 16px
    a  { font-size: 2rem; }   // 16px
}

@include m.desktop {
    h1 { font-size: 4.8rem; }   // 48px
    h2 { font-size: 4rem; } // 40px
    h3 { font-size: 3.2rem; }   // 32px
    h4 { font-size: 2.4rem; } // 24px
    h5 { font-size: 2rem; } // 20px
    h6 { font-size: 1.6rem; }   // 16px
    p  { font-size: 1.6rem; }   // 16px
    a  { font-size: 3rem; }   // 16px
}

/* Botones */

.btn-more {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    border: 1px solid v.$azul;
    color: v.$azul;
    padding: 1rem 8rem;
    border-radius: 1rem;
    font-size: 2rem;
  }
  a:hover {
    background-color: v.$azul;
    color: v.$blanco;
  }
}

.btn-read {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    border: 1px solid v.$blanco;
    color: v.$blanco;
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: 2rem;
  }
  a:hover {
    background-color: v.$blanco;
    color: v.$negro;
  }
}