
$fuente_principal: "Figtree", sans-serif;

//! TAMAÑO MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//! COLORES
$negro: #000000;
$azul: #00c3ef;
$verde: #00ffb2;
$blanco: #FFFFFF;

$gris: #F5F6FA;
$grisOscuro: #333333;

//! ESPACIADOS
$separacion: 5rem;
$border-radius: 8px; // Añadido para coincidir con --border-radius: 8px

//! FUENTES WEIGHT
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;